// Yandex.Metrika counter
script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(94293252, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
noscript
    div
        img(src='https://mc.yandex.ru/watch/94293252' style='position:absolute; left:-9999px;' alt='')
// /Yandex.Metrika counter


// Google tag (gtag.js)
script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-VKVLRJJB1X')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-VKVLRJJB1X');

        
 